<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apni Injections</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body class="body">
    <header>
        <h1>Welcome for your injection help</h1>
        <ul>
            <a href="./Login.ejs" id="header_content">LOGIN</a>
            <!-- <a href="/Login.ejs" id="header_content" >PRODUCTS</a>
            <a href="/Login.ejs" id="header_content" >SERVICES</a>
            <a href="/Login.ejs" id="header_content" >PROJECTS</a>
            <a href="/Login.ejs" id="header_content" >ABOUT US</a> -->
        </ul>
    </header>

    <hr>
    <section>
    <p>Affordable Injections, Saving Lives Every Day!
        At our company, we believe that access to life-saving medication should never be a luxury. That's why we're proud to offer a wide variety of high-quality injections at prices that won't break the bank.
        We understand that medical expenses can be overwhelming, and we're here to help. Our team is dedicated to making sure that everyone has access to the medication they need to stay healthy and happy.
        When you choose our company, you're not just getting affordable injections - you're getting a partner in your journey to better health. We're committed to providing excellent customer service, fast shipping, and a hassle-free shopping experience.
        So why pay more for the same medication when you can get it for less with us? Join the thousands of satisfied customers who trust us to provide them with the injections they need to live their best lives.
    </p>
    <!-- <hr>
    <a href="https://www.kbnbfc.in" target="_blank">I coded</a>
    <a href="page2.html" target="_blank">Second</a>
    <hr>
    <div >
        <button class="btn btn-primary" data-bs-toggle="collapse" 
        data-bs-target="#row" aria-expanded="true" aria-controls="row">Toggle</button><br>
        <div class="row collapse show"  id="row">
            <div class="col">
                <div class="box col-1"></div>
            </div>
        </div>
    </div><br><br><br>
    <table class="table table-dark">
        <tr >
            <th>Injections</th> 
            <th>M.R.P</th>
            <th>Our Price</th>
        </tr>
        <tbody>
            <td>
                Zyrop 4000
            </td>
            <td>
                1400
            </td>
            <td>
                450
            </td>
            <tfoot>
                <th rowspan="1">Total</th>
                <th>3750</th>
            </tfoot>
        </tbody>
   
    </table>
    <p>1 para</p>
    <p>2 para</p>
    <p>3 para</p>
    <p>4 para</p>
    <em>this is em tag and</em>
    <em>em is used to emphasize text</em>
</section>
<div class="container">
    <div class="row gy-1 gy-xl-4">
        <div class="col-4 row-cols-lg-4"  id="two">
            <div class="col"></div>
            <div class="col">
            <div class="box">
            <ul>
            <li>A Zyrop</li>
            <li>B Zyrop</li>
        </ul>
    </div>
    </div>
        </div>
        <div class="box">
    <!--<ol class="col-auto" type="1" id="one">-->
        <!-- <select>
        <option>A Zyropvrlmfvrvjjvjvvvmvvrvrmvrrv</option>
        <option>B Zyrop</option>
        <option>C Zyrop</option>
        <option>A Zyrop</option>
        <option>B Zyrop</option>
        <option>C Zyrop</option>
        <option>D Zyrop</option>
        <option>E Zyrop</option>
        <option>F Zyrop</option>
        <option>G Zyrop</option>
        <option>H Zyrop</option>
        <option>I Zyrop</option>
    </select>
    </div>
    <div class="box">
            <ol class="col-lg-8 col-xl-3 col-1" type="1" id="three">
        <li>M Zyrop</li>
        <li>N Zyrop</li>
        <li>F Zyrop</li>
        <li>G Zyrop</li>
        <li>H Zyrop</li>
        <li>I Zyrop</li>
    </ol>
</div>
</div>
</div> --> -->
<!-- <script src="Login.js"></script> -->
</body>
</html>