<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0"> 
    <link rel="stylesheet" href="../style/style.css">
    <title>HelpINJ</title>
</head>
<body >
   <!-- <div style="width: 300px; height: 500px;">
    <label id="he1">Book a call</label><br><br>
    <label id="he2">Book a call for the injection delivery</label><br><br>
    <label name="email" class="form-label">Email:</label><br>
    <input type="email" id="email" required class="form-control"><br><br>
    <label class="invalid-feedback"></label>
    <label  class="valid-feedback"></label>
    <label name="pwd">Password:</label><br>
    <input type="password"> </input><br><br>
    <label name="phone_no">Phone:</label><br>
    <input type="number" maxlength="10"></input><br><br>
    <label name="time">Time for Call:</label><br>
    <input type="date"><input type="time"><br><br>
    <input type="checkbox">Save Details</input><br><br>
    <button class="btn btn-danger">Submit</button>
    </div>
    <div class="nav item link-danger">First</div>-->
        <div class="form-container">
            <h2>Book a call</h2><br>
                <h5 >Book a call for the injection delivery</h5>
                    <div >
                        <form action="/loggedIn" method="post">
                            <label >Email</label><br>
                            <input type="text" class="email" name="email" id="email" required><br>
                            <label >Password</label><br>
                            <input type="password" class="pwd" name="pwd" id="pwd" required><br>
                            <!-- <input type="date">
                            <input type="time"><br><br>
                            <input type="checkbox" class="form-check-input" >
                            <label class="form-check-label">Save</label><br><br> -->
                            <input class="btn" type="submit" value="Submit">
                        </form>
                    </div>
        </div>
 <!-- <script src="../Login.js"> -->
    <!-- // const form= document.querySelector("form")
    // form.addEventListener('submit',e =>{
    //     if(!form.checkValidity()){
    //         e.preventDefault()
    //     }
    //     form.classList.add('was-validated')
    // }) -->
 <!-- </script> -->
</body>

    <!-- <section class="container">
      <form id="my-form">
        <h1>Add User</h1>
        <div class="msg"></div>
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name">
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="text" id="email">
        </div>
        
      </form>

      <ul id="users"></ul>

      <ul class="items">
        <li class="item">Item 1</li>
        <li class="item">Item 2</li>
        <li class="item">Item 3</li>
      </ul> -->
    <!-- </section>
    

    <script src="main.js"></script>
  </body>
</html> -->